/* MOBILE FIRST */
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #F0F2F5;
    min-width: 500px;
}

.abs-header {
    text-align: center;
    width: 400px;
    margin: auto;
}

.title-facebook {
    height: 47px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.text-title {
    font-size: 24px;
    padding-bottom: 40px;
}

.abs-main {
    width: 400px;
    margin: auto;
}

.form {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2px;
    margin-bottom: 30px;
}

input {
    display: block;
    margin: 15px auto;
    height: 48px;
    width: 368px;
    border-radius: 5px;
    font-size: 1em;
}

.input-label {
    width: 365px;
    text-indent: 15px;
    border: 1px solid #d0d3d8;
    outline: 0;
}

.input-label:focus {
    border: 1px solid #0866FF;
}

.input-label:focus::placeholder {
    color: #d0d3d8;
}

.entrar {
    background-color: #1877F2;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    margin-bottom: 0;
    cursor: pointer;
}

.lem-senha {
    background-color: white;
    color: #0866FF;
    font-size: 14px;
    border: none;
    margin: 15px auto;
    height: 18px;
    width: auto;
    cursor: pointer;
}

.lem-senha:hover {
    text-decoration: underline;
}

#hr-form {
    width: 365px;
    height: 1px;
    margin: 20px auto;
    background-color: #d0d3d8;
}

.cadastro {
    width: auto;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #42B72A;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.cadastro:hover {
    background-color: #36A420;
}

.new-pag {
    text-align: center;
    font-size: 14px;
    padding-bottom: 45px;
}

.new-pag:hover {
    text-decoration: underline;
}

.link-main {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.abs-footer {
    background-color: white;
    padding: 6px 30px 10px 30px;
}

ul {
    min-width: 430px;
    margin: 10px auto;
}

li {
    display: inline-block;
    font-size: 12px;
    margin: 2px 2% 2px 0;
    line-height: 16.1px;
}

li > a {
    color: #737373;
    text-decoration: none;
}

li > a:hover {
    text-decoration: underline;
}

#hr-footer {
    height: 1px;
    min-width: 430px;
    background-color: #d0d3d8;
    margin: auto;
}

.text-footer {
    font-size: 12px;
    min-width: 430px;
    margin: auto;
    padding-top: 20px;
    color: #737373;
}

.text-footer > a {
    color: #737373;
    text-decoration: none;
}

.text-footer > a:hover {
    text-decoration: underline;
}