@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor-branco: rgb(255, 255, 255);
    --cor-preto: rgb(0, 0, 0);
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: var(--cor-branco);
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem pre {
    background-color: rgba(0, 0, 0, 0.253);
    max-width: 400px;
}

pre {
    white-space: pre-line;
}

footer {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    text-align: center;
}