@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 96.8vh;
    background-color: #F0F2F5;
}

.center {
    text-align: center;
    margin: auto;
}

.header-games {
    background-color: blueviolet;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding-top: 10px;
}

.placar {
    display: inline-block;
    border: 1px solid black;
    background-color: aqua;
    width: 120px;
    padding: 15px 0;
    margin: 10px;
}

.box-geral {
    background-color: aqua;
    width: max-content;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.box-games {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

.table {
    border-collapse: collapse;
}

.coluna {
    border-right: 10px solid black;
}

.linha {
    border-bottom: 10px solid black;
}

td {
    height: 2em;
    width: 2em;
    text-align: center;
    font-size: 4em;
}

td:hover {
    background-color: #F0F2F5;
}

.X, .O {
    cursor: not-allowed;
}